## Data Cleaning using Python

### Importing necessary library
We will import the required library i.e. Pandas which will help in data analysis and manipulation.

In [1]:
import pandas as pd

### To read csv dataset 
We will import our data into the jupyter notebook and use pandas to read csv file and to store it in a dataframe in order to clean and analyse as follows:

In [2]:
df=pd.read_csv(r'C:\Users\Himanshi Baliyan\Downloads\superstore_final_dataset.csv')

### Basic Exploration of dataset

In [3]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O Donnel,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold N Roll Cart System,22.3680

In [4]:
df.tail()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.798
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.368
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.188
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.376
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.384

In [5]:
df.shape

(9800, 18)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9800 non-null   int64
 1   Order_ID       9800 non-null   object
 2   Order_Date     9800 non-null   object
 3   Ship_Date      9800 non-null   object
 4   Ship_Mode      9800 non-null   object
 5   Customer_ID    9800 non-null   object
 6   Customer_Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal_Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product_ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub_Category   9800 non-null   object
 16  Product_Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [7]:
df.index

RangeIndex(start=0, stop=9800, step=1)

In [8]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales'],
      dtype='object')

### Removing duplicate rows

- Identified and removed duplicate rows from the dataset, excluding the Row_ID column, to ensure that each record is unique.
- This helps to avoid any bias or errors that might be caused by having duplicate data.

In [9]:
duplicates=df[df.duplicated(subset=df.columns.difference(['Row_ID']),keep=False)] #to see the duplicate rows
print('Duplicate rows are:')
duplicates

Duplicate rows are:

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales
3405,3406,US-2015-150119,23/04/2015,27/04/2015,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372
3406,3407,US-2015-150119,23/04/2015,27/04/2015,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372

In [10]:
df.drop_duplicates(subset=df.columns.difference(['Row_ID']),inplace=True)  # to remove the duplicate rows
df.shape

(9799, 18)

### Removing rows for which few values are missing

- Checked for missing values first and then removed any row that has missing values.
- This helps to ensure that the dataset is complete and accurate.

In [11]:
#we will use isna() to returns the columns along with the number of missing values detected in each one
df.isna().sum()

Row_ID            0
Order_ID          0
Order_Date        0
Ship_Date         0
Ship_Mode         0
Customer_ID       0
Customer_Name     0
Segment           0
Country           0
City              0
State             0
Postal_Code      11
Region            0
Product_ID        0
Category          0
Sub_Category      0
Product_Name      0
Sales             0
dtype: int64

In [12]:
df.dropna(how='any',inplace=True,axis=0)
df.shape

(9788, 18)

In [13]:
df.isna().sum()

Row_ID           0
Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub_Category     0
Product_Name     0
Sales            0
dtype: int64

### Removing irrelevant values from each column if any

- Validated the data in some columns to ensure that they are in the correct format, i.e., the Order_Date and Ship_Date values must be in the correct date format.
- Ensured that each entry in the dataset has a ship date that is greater than or equal to the order date.
This helps to ensure that the data is consistent and reliable.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   object
 3   Ship_Date      9788 non-null   object
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.4+ MB

In [15]:
#to change the datatype of Order_Date and Ship_Date columns to datetime 
df[['Order_Date','Ship_Date']]=df[['Order_Date','Ship_Date']].apply(pd.to_datetime,dayfirst=True)  
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9788 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9788 non-null   int64
 1   Order_ID       9788 non-null   object
 2   Order_Date     9788 non-null   datetime64[ns]
 3   Ship_Date      9788 non-null   datetime64[ns]
 4   Ship_Mode      9788 non-null   object
 5   Customer_ID    9788 non-null   object
 6   Customer_Name  9788 non-null   object
 7   Segment        9788 non-null   object
 8   Country        9788 non-null   object
 9   City           9788 non-null   object
 10  State          9788 non-null   object
 11  Postal_Code    9788 non-null   float64
 12  Region         9788 non-null   object
 13  Product_ID     9788 non-null   object
 14  Category       9788 non-null   object
 15  Sub_Category   9788 non-null   object
 16  Product_Name   9788 non-null   object
 17  Sales          9788 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.4+ MB

In [16]:
irrelevant=df[(df['Ship_Date']<df['Order_Date'])]
irrelevant

Empty DataFrame
Columns: [Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub_Category, Product_Name, Sales]
Index: []

*There are no records found for irrelevant value i.e. for each and every entry in dataset ship date >= order date*

### Export the cleaned dataset as a .csv file

Exported the cleaned dataset in .csv format, using UTF-8 encoding, to make it accessible to others and to enable further analysis.

In [17]:
df.to_csv('superstore_cleaned_dataset.csv', index=False, encoding='utf-8')